<div class="row">
    <ngb-tabset class="crime-tab">
        <ngb-tab title="Filter By District & Year">
            <ng-template ngbTabContent>
                <br>
                <div class="row">
                    <div class="col-md-1">
                        Filter By: 
                    </div>
                
                    <div class="col-md-2">
                        <span>District</span>
                        <br>
                        <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:200px;" *ngIf="selectedDistrict" ngbDropdownToggle>{{selectedDistrict.districtName}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngFor="let district of districts" (click)="changeDistrict($event, district)">{{district.districtName}}</button>
                        </div>
                        </div>
                    </div>
                
                    <div class="col-md-1">
                        <span>Year</span>
                        <br>
                        <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedYear}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngFor="let year of years" (click)="changeYear($event, year)">{{year}}</button>
                        </div>
                        </div>
                    </div>
                
                    <div class="col-md-1">
                        <br>
                        <button class="btn btn-primary" (click)="filterRecordsByDistrictAndYear()">Filter</button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Crimes By District">
                <ng-template ngbTabContent>
                    <br>
                    <div class="row">
                        <div class="col-md-1">
                            Filter By: 
                        </div>
                    
                        <div class="col-md-1">
                            <span>From Year</span>
                            <br>
                            <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedYear}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let year of years" (click)="changeYear($event, year)">{{year}}</button>
                            </div>
                            </div>
                        </div>
                    
                        <div class="col-md-1">
                            <br>
                            <button class="btn btn-primary" (click)="groupCrimesByDistrict()">Filter</button>
                        </div>
                    </div>
                    <br>
                    <div>
                        <h4>
                            Recommended Districts with Lowest Crimes
                        </h4>
                        <div class="row">
                            <div class="col-md-2" *ngFor="let district of lowestCrimeDistricts">
                                <mat-card class="district-card">
                                    <mat-card-header>
                                    <div mat-card-avatar class="district-header-image"></div>
                                    <mat-card-title>{{district.label}} District</mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image src="../../assets/{{district.label}}.jpg" >
                                    <mat-card-content>
                                    <p>
                                        {{district.label}} had {{district.data | number}} number of crimes in the year {{selectedYear}}
                                    </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                            <h4>
                                Highest Crime Districts
                            </h4>
                            <div class="row">
                                <div class="col-md-2" *ngFor="let district of highestCrimeDistricts">
                                    <mat-card class="district-card">
                                        <mat-card-header>
                                        <div mat-card-avatar class="district-header-image"></div>
                                        <mat-card-title>{{district.label}} District</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src="../../assets/{{district.label}}.jpg" >
                                        <mat-card-content>
                                        <p>
                                            {{district.label}} had {{district.data | number}} number of crimes in the year {{selectedYear}}
                                        </p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    <br>
                    <div>
                        <h4>
                            Crime Numbers In All Districts
                        </h4>
                        <br>
                        <div style="display: block">
                            <canvas baseChart
                                [data]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                [colors]="chartColors">
                            </canvas>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Crimes By Property">
                <ng-template ngbTabContent>
                    <br>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let property of properties">
                            <app-crime-by-location [property]=property></app-crime-by-location>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

    </ngb-tabset>
    

</div>
