<div class="row">
    <ngb-tabset class="crime-tab">
        <ngb-tab title="Filter By District & Year">
            <ng-template ngbTabContent>
                <br>
                <div class="row">
                    <div class="col-md-1">
                        Filter By: 
                    </div>
                
                    <div class="col-md-2">
                        <span>District</span>
                        <br>
                        <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:200px;" *ngIf="selectedDistrict" ngbDropdownToggle>{{selectedDistrict.districtName}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngFor="let district of districts" (click)="changeDistrict($event, district)">{{district.districtName}}</button>
                        </div>
                        </div>
                    </div>
                
                    <div class="col-md-1">
                        <span>Year</span>
                        <br>
                        <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedYear}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngFor="let year of years" (click)="changeYear($event, year)">{{year}}</button>
                        </div>
                        </div>
                    </div>
                
                    <div class="col-md-1">
                        <br>
                        <button class="btn btn-primary" (click)="filterRecordsByDistrictAndYear()">Filter</button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Crimes By District">
                <ng-template ngbTabContent>
                    <br>
                    <div class="row">
                        <div class="col-md-1">
                            Filter By: 
                        </div>
                    
                        <div class="col-md-1">
                            <span>Year</span>
                            <br>
                            <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedYear}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let year of years" (click)="changeYear($event, year)">{{year}}</button>
                            </div>
                            </div>
                        </div>
                    
                        <div class="col-md-1">
                            <br>
                            <button class="btn btn-primary" (click)="groupCrimesByDistrict()">Filter</button>
                        </div>
                    </div>

                    <div>
                        <div style="display: block">
                            <canvas baseChart
                                [data]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                [colors]="chartColors">
                            </canvas>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
    </ngb-tabset>
    

</div>
